#taskContainer {
    border: solid black 1px;
    width: 440px;
}

#taskListContainer {
    display: flex;
    flex-direction: column;
    gap: 15px;
    list-style: none;
}

#taskFilterContainer{
    display: flex;
    gap: 10px;
}


#taskTitleInfo1 {
    display: flex;
    margin-left: 15px;
}

#taskDescription {
    margin-top: 0px;
    margin-left: 15px;
}

#taskItemOptions {
    display: flex;
    column-gap: 10px;
    height: 30px;
    width: 150px;
    align-self: center;
    margin-left: 200px;
}

#taskInfo2 {
    display: flex;
    gap: 10px;
    margin-left: 15px;
}

#taskForm {
    display: flex;
    flex-direction: column;
    margin-left: 40px;
}

#taskDashboard{
display: flex;
flex-direction: flex;
gap: 100px;
}